.button--lg-blue {
    color: $white;
    background-color: $lg-blue;
    font-family: $montserrat;
    font-weight: $light;
    border-radius: 0;
    padding: 0.6rem 0.5rem 0.5rem 0.5rem;
    &:hover {
        text-decoration: none;
        border-color: $lg-blue;
        color: $white;
    }
}

.button--lg-blue-check:focus + .button--lg-blue, 
.button--lg-blue:focus {
    color: $white;
    border-color: $lg-blue;
    box-shadow: 0 0 0 0.25rem $lg-blue;
}

.button--lg-blue-check:checked + .button--lg-blue, 
.button--lg-blue-check:active + .button--lg-blue, 
.button--lg-blue:active, .button--lg-blue.active, 
.show > .button--lg-blue.dropdown-toggle {
    color: $white;
    background-color: $lg-blue;
    border-color: $lg-blue;
}

.button--lg-blue-check:checked + .button--lg-blue:focus, 
.button--lg-blue-check:active + .button--lg-blue:focus, 
.button--lg-blue:active:focus, .button--lg-blue.active:focus, 
.show > .button--lg-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem $lg-blue;
}

.button--red {
    color: $white;
    background-color: $red;
    font-family: $montserrat;
    font-weight: $light;
    border-radius: 0;
    padding: 0.6rem 0.5rem 0.5rem 0.5rem;
    &:hover {
        text-decoration: none;
        color: $white;
        border-color: $red;
    }
}

.button-secondary-check:focus + .button-secondary, 
.button-secondary:focus {
    color: $white;
    background-color: $red;
    border-color: $red;
    box-shadow: 0 0 0 0.25rem $red;
}

.button-secondary-check:checked + .button-secondary, 
.button-secondary-check:active + .button-secondary, 
.button-secondary:active, 
.button-secondary.active, 
.show > .button-secondary.dropdown-toggle {
    color: $white;
    background-color: $red;
    border-color: $red;
}

.button-secondary-check:checked + .button-secondary:focus, 
.button-secondary-check:active + .button-secondary:focus, 
.button-secondary:active:focus, 
.button-secondary.active:focus, 
.show > .button-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem $red;
}