//Tipografias
$Montserrat: 'Montserrat', sans-serif;
$Open-Sans: 'Open Sans', sans-serif;
$Spartan: 'Spartan', sans-serif;

//Pesos
$Regular: 400;
$Medium: 500;
$Semi-Bold: 600;
$Bold: 700;

//Tamaños


//Colores
$Azul: #92DCE5;
$Rojo: #EF6461;

