//Tipografias
$montserrat: 'Montserrat', sans-serif; // light, medium & bold
$open-Sans: 'Open Sans', sans-serif; // regular
$spartan: 'Spartan', sans-serif; // semi- bold

//Pesos
$light: 300;
$regular: 400;
$medium: 500;
$semi-Bold: 600;
$bold: 700;

//Tamaños


//Colores
$lg-blue: #92DCE5;
$dk-blue: #74C8D3; 
$red: #EF6461;
$dk-red: #D94946;
$black: #001514;
$white: #FFFFFF;
$gray : #777a7c;

