main{
    .card{
        border: 0;
    }
}

.videospop {
    font-family: $montserrat;
    font-weight: $medium;
    font-size: 18pt !important;
    color: $black;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    margin-left: 7rem;
}

@media (max-width: 550px) {
    .videospop {
        margin-left: 0px;
        text-align: center;
    }
}